
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.secret-text{
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: black;
}
.secret-texts {
  text-align: center;
  font-size: 2rem;
  color:wheat;
  margin: 10px;
  background-size: 100% 100%;
  height: 300px;
  width: 350px;
  padding-top: 70px;
}